In [8]:
# Initial Imports
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
from pathlib import Path
import regex as re
import nltk
from datetime import date
import twint
import nest_asyncio
nest_asyncio.apply()
nltk.download('stopwords')

%matplotlib inline

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kevinwalsh/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [257]:
# Initialize set of inputs
# List of Stocks
stocks = ['microsoft','sony','pfizer','regeneron','moderna']

# Set up Date range
import datetime
from dateutil.relativedelta import relativedelta

today = datetime.date.today()
end_time = today.strftime('%Y-%m-%d %H:%M:%S')
start_time = today - relativedelta(years=1)
start_time = start_time.strftime('%Y-%m-%d %H:%M:%S')
print(start_time)

2020-01-19 00:00:00

In [258]:
# Define data_crawlers function
stock_df = pd.DataFrame()
df = pd.DataFrame()

In [259]:
def data_crawlers(stock):
    c = twint.Config()
    c.Search = stock
    c.Hide_output = True
    c.Limit = 1000 
    #c.Store_csv = True
    c.Since = start_time
    c.Until = end_time
    #c.Output = f"{stock}.csv"
    c.Pandas = True
    c.Pandas_au = True
    twint.run.Search(c)
    #df = twint.storage.panda.Tweets_df

In [260]:
# Deploy data_crawlers function on stocks list
for i in stocks: 
    data_crawlers(i)
    df = twint.storage.panda.Tweets_df
    stock_df = stock_df.append(df)

In [261]:
stock_df = stock_df.reset_index(drop=True)
stock_df.tail()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
5043,1350909911685877761,1350903498884440066,1.610917e+12,2021-01-17 15:56:36,-0500,,@StopCoronavir12 I think the moving of the sec...,en,[],[],...,,,,,,"[{'screen_name': 'StopCoronavir12', 'name': 'S...",,,,
5044,1350909837320794118,1350815302318174209,1.610917e+12,2021-01-17 15:56:18,-0500,,@CityNews Moderna isn’t effective against the ...,en,[],[],...,,,,,,"[{'screen_name': 'CityNews', 'name': 'CityNews...",,,,
5045,1350909835982872577,1350780008026017795,1.610917e+12,2021-01-17 15:56:18,-0500,,@Manhattanplanet @LuisLuluso @AlexandraJAlva4 ...,es,[],[],...,,,,,,"[{'screen_name': 'Manhattanplanet', 'name': 'D...",,,,
5046,1350909792580214786,1349522780895776769,1.610917e+12,2021-01-17 15:56:07,-0500,,@Uber @moderna_tx حصل مشكله علي الايمل بتاعي ش...,ar,[],[],...,,,,,,"[{'screen_name': 'Uber', 'name': 'Uber', 'id':...",,,,
5047,1350909785949007876,1350909785949007876,1.610917e+12,2021-01-17 15:56:06,-0500,,Mira yo soy moderna ....pero te voy a dar un c...,es,[],[],...,,,,,,[],,,,

In [232]:
df.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1350955153004916738,1350952921727455232,1.610928e+12,2021-01-17 18:56:22,-0500,,"@MAGAMedium1_7 Mike unmasked, Bad role over?",en,[],[],...,,,,,,"[{'screen_name': 'MAGAMedium1_7', 'name': 'MAG...",,,,
1,1350953689033400324,1350953689033400324,1.610927e+12,2021-01-17 18:50:33,-0500,,巨細胞性動脈炎へのSanofi/Regeneronの抗IL-6薬ケブザラのPh3試験中止 ...,ja,[],[],...,,,,,,[],,,,
2,1350952249636364289,1350937872019435529,1.610927e+12,2021-01-17 18:44:50,-0500,,@Poulin2012 Regeneron,es,[],[],...,,,,,,"[{'screen_name': 'Poulin2012', 'name': 'Alexis...",,,,
3,1350949622404030464,1350947657724944384,1.610926e+12,2021-01-17 18:34:24,-0500,,@SecPompeo Morse on the wall?,en,[],[],...,,,,,,"[{'screen_name': 'SecPompeo', 'name': 'Secreta...",,,,
4,1350945783005196289,1348670741017989128,1.610926e+12,2021-01-17 18:19:08,-0500,,@Regeneron Research alternative approaches tha...,en,[],[],...,,,,,,"[{'screen_name': 'Regeneron', 'name': 'Regener...",,,,

In [137]:
# Define function to read in csv
from pathlib import Path
def csv_import(stock):
    stock_path = Path(f'{stock}.csv')
    return stock_path

In [166]:
path_list = []
for i in stocks:
    i_df = pd.DataFrame()
    path_list.append(csv_import(i))
    for x in path_list: 
        x_df = pd.DataFrame()
        i_df = pd.read_csv(x)

In [167]:
i_df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1350955153004916738,1350952921727455232,2021-01-17 18:56:22 EST,2021-01-17,18:56:22,-500,1316463156638687232,nregenero,RegeneroN,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'MAGAMedium1_7', 'name': 'MAG...",NaN,NaN,NaN,NaN
1,1350953689033400324,1350953689033400324,2021-01-17 18:50:33 EST,2021-01-17,18:50:33,-500,46297868,seigomaeda,前田静吾｜海外情報活用コンサルタント Insights4 Pharma編集長,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1350952249636364289,1350937872019435529,2021-01-17 18:44:50 EST,2021-01-17,18:44:50,-500,472672661,vicvegaaa,Vic,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Poulin2012', 'name': 'Alexis...",NaN,NaN,NaN,NaN
3,1350949622404030464,1350947657724944384,2021-01-17 18:34:24 EST,2021-01-17,18:34:24,-500,1316463156638687232,nregenero,RegeneroN,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'SecPompeo', 'name': 'Secreta...",NaN,NaN,NaN,NaN
4,1350945783005196289,1348670741017989128,2021-01-17 18:19:08 EST,2021-01-17,18:19:08,-500,1564480639,geminifty,Ginny LR,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'Regeneron', 'name': 'Regener...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1349270518021689344,1349249571852083202,2021-01-13 03:22:14 EST,2021-01-13,03:22:14,-500,17752824,manuel_storm,Manuel,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'mittdolcino', 'name': 'mittd...",NaN,NaN,NaN,NaN
996,1349269443784937475,1349136478534852615,2021-01-13 03:17:58 EST,2021-01-13,03:17:58,-500,1222787807212642304,shimi30809579,shimi,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'drainvillepm', 'name': 'Bern...",NaN,NaN,NaN,NaN
997,1349268537186136064,1349268537186136064,2021-01-13 03:14:22 EST,2021-01-13,03:14:22,-500,833648789646868482,markgil30446463,Mark Gilbert,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
998,1349267891821142017,1349267891821142017,2021-01-13 03:11:48 EST,2021-01-13,03:11:48,-500,1216415104436252672,stubenali,paul,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
999,1349262573473046528,1349238288385765376,2021-01-13 02:50:40 EST,2021-01-13,02:50:40,-500,2473266547,aellynd,Timon,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'les_vaxxeuses', 'name': '💉Le...",NaN,NaN,NaN,NaN

In [151]:
x_df.tail()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
995,1349270518021689344,1349249571852083202,2021-01-13 03:22:14 EST,2021-01-13,03:22:14,-500,17752824,manuel_storm,Manuel,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'mittdolcino', 'name': 'mittd...",NaN,NaN,NaN,NaN
996,1349269443784937475,1349136478534852615,2021-01-13 03:17:58 EST,2021-01-13,03:17:58,-500,1222787807212642304,shimi30809579,shimi,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'drainvillepm', 'name': 'Bern...",NaN,NaN,NaN,NaN
997,1349268537186136064,1349268537186136064,2021-01-13 03:14:22 EST,2021-01-13,03:14:22,-500,833648789646868482,markgil30446463,Mark Gilbert,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
998,1349267891821142017,1349267891821142017,2021-01-13 03:11:48 EST,2021-01-13,03:11:48,-500,1216415104436252672,stubenali,paul,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
999,1349262573473046528,1349238288385765376,2021-01-13 02:50:40 EST,2021-01-13,02:50:40,-500,2473266547,aellynd,Timon,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'les_vaxxeuses', 'name': '💉Le...",NaN,NaN,NaN,NaN

In [80]:
csv_import('microsoft')

NameError: name 'stock_csv' is not defined